<h1 class="mb-4">Create a group</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', group: @group, icons_url: @icons_url %>
      </div>
      <div class="panel-footer">
        <p><%= link_to 'All groups', groups_path,  class: 'text-decoration-none text-muted' %></p>
      </div>
    </div>
  </div>
</div>