<h1 class="mb-4">Create a group</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'layouts/new_edit_form', model: @group, icons: @icons_url %>
      </div>

    </div>
  </div>
</div>