// Place all the styles related to the Activities controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "application.scss";

body {
  .image {
    width: 15%;
  }

  .activity-amount {
    font-size: 1rem;
    color: rgba($text-color-light, 0.66);
    text-align: right;
    .activity-amount-text {
      color: $text-color-light;
      font-size: 1.5rem;
    }
  }

  .actions {
    width: 15%;
    ul {
      margin: 0;
      li {
        margin: 0;
      }
    }
  }
  .activity-group_avatar {
    display: inline-block;
    width: 80%;
  }
}