// Place all the styles related to the Activities controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "application.scss";

body {
  h2 {
    font-size: 1.3rem;
    color: rgba($text-color-light, 0.66);
  }

  .activity-subtitle {
    font-size: 1.3rem;
    color: rgba($text-color-light, 0.66);
  }

  .activity-info-text {
    font-size: 1rem;
    color: rgba($text-color-light, 0.9);
  }

  .activity-group-avatar {
    height: 4rem;
  }

  select {
    height: 2rem;
  }

  .image {
    width: 15%;
  }

  .activity-amount {
    font-size: 1rem;
    color: rgba($text-color-light, 0.66);
    text-align: right;

    .activity-amount-text {
      color: $text-color-light;
      font-size: 1.5rem;
    }
  }

  .author-cell {
    color: rgba($text-color-light, 0.66);
    width: 100%;
    white-space: nowrap;
    display: table;
    table-layout: fixed;
  }

  .actions {
    width: 15%;

    ul {
      margin: 0;

      li {
        margin: 0;
      }
    }
  }

  .activity-group_avatar {
    display: inline-block;
    width: 80%;
  }
}
