// Place all the styles related to the Groups controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "application.scss";

body {
  h1 {
    text-decoration: none;
    color: $text-color-light;
    font-size: 3rem;
  }

  .group_avatar {
    display: inline-block;
    margin: auto;
    width: 3.5rem;
  }

  .group-title {
    border-bottom: 0.75px solid rgba($text-color-light, 0.66);
  }

  .group-subtitle {
    color: rgba($text-color-light, 0.75);
    font-size: 1.6rem;
  }

  .total-minutes {
    color: rgba($text-color-light, 0.85);
    font-size: 1.4rem;
  }

  .table_row {
    justify-content: right;
    border-top: 0.75px solid rgba($text-color-light, 0.66);
    .image {
      width: 20%;
    }
    .description {
      width: 60%;
    }
    .actions {
      width: 20%;
    }
  }

  tbody:last-child {
    border-bottom: 0.75px solid rgba($text-color-light, 0.66);
  }

  td {
    .amount {
      font-size: 1.2rem;
    }

    h2 {
      color: $text-color-light;
      font-size: 1.6rem;
    }

    ul {
      list-style-type: none;
    }

    a {
      font-size: 1rem;
      color: rgba($text-color-light, 0.7);
    }

    h3 {
      font-size: 0.8rem;
      color: rgba($text-color-light, 0.5);
    }

    .group-options {
      border-radius: 3px;
      border: 0.75px solid rgba($text-color-light, 0.13);

      a {
        text-decoration: none;
      }
    }


  }

  .add-group-wrapper {
    color: $text-color-light;
    font-size: 1rem;

    i {
      font-size: 4rem;
    }
  }
}