
  <%= link_to new_activity_url(add_activity: true) do %>
    <div class="add-group-wrapper d-block text-center">
      <i class="material-icons">add_circle_outline</i>
      <p>Add a new name</p>
    </div>
  <% end %>
