<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Menu</h5>
    <span class="text-muted">

        <ul class="list-group-horizontal-md list-group">
          <li><%= link_to 'Home', root_path,  class: 'list-group-item bg-dark text-decoration-none text-muted' %></li>
          <%= get_navbar_links %>
        </ul>
      </span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
