
<li class="list-group-item bg-dark ms-md-1">
    <%= link_to 'Logout', logout_path,  class: 'text-decoration-none text-muted' %></li>
<li class="list-group-item bg-dark ms-md-1">
    <%= link_to 'All my transactions', root_path,  class: 'text-decoration-none text-muted' %></li>
<li class="list-group-item bg-dark ms-md-1">
    <%= link_to 'All my external transactions', '#',  class: 'text-decoration-none text-muted' %></li>
<li class="list-group-item bg-dark ms-md-1">
    <%= link_to 'All groups', groups_path,  class: 'text-decoration-none text-muted' %></li>
