
<li class="list-group-item navbar-links ms-md-1">
    <%= link_to 'Logout', logout_path,  class: 'text-decoration-none text-light' %></li>
<li class="list-group-item navbar-links ms-md-1">
    <%= link_to 'All my activities', activities_path,  class: 'text-decoration-none text-light' %></li>
<li class="list-group-item navbar-links ms-md-1">
    <%= link_to 'All my external activities', activities_path(ungrouped: true),  class: 'text-decoration-none text-light' %></li>
<li class="list-group-item navbar-links ms-md-1">
    <%= link_to 'All groups', groups_path,  class: 'text-decoration-none text-light' %></li>
